<footer id="sticky-footer " class="flex-shrink-0 py-4 bg-dark text-white" style="margin-top:150px">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Manasvi Garg", "#" , class: "text-white" %></small>
    </div>
</footer>
